*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

.idea
*.iml

*.orig

# Not a fan of Activator so far
activator
activator-launch-*.jar
activator.bat
