application.secret="%APPLICATION_SECRET%"

application.langs="en"

motion {
    mediaPath="/home/motion/"
    lastImageName="lastsnap.jpg"
}

door.0.pin = 17

logger {
   root = ERROR
   play = INFO
   application = DEBUG
 }

 xmpp {
   username = "login@gmail.com"
   password = "password"
   server = "talk.google.com"
   port = "5222"
   name = "gmail.com"
   recipient = "to@gmail.com"
 }